<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../css/ejercicio1.css">

    <title>1. Kitten </title>
  </head>
  <body>
      <section class="container">
        <section class="row">
          <section class="col-12" >
            <img  class="cat1" alt="">
          </section>
        </section>
        </section>
  </body>
</html>
